@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Euphoria+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #fdf6f0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 500vh;
}

/* NAVIGATION BAR */
li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: rgb(83, 65, 60);
  text-decoration: none;
}

header {
  z-index: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  background-color: #fdf6f0;
  box-shadow: 0 10px 50px 10px rgba(53, 53, 53, 0.052);
}

.logo {
  cursor: pointer;
  background-color: #fdf6f0;
  width: 50px;
  height: auto;
}

.nav_content {
  list-style: none;
  background-color: #fdf6f0;
}

.nav_content li {
  display: inline-block;
  padding: 0px 20px;
  background-color: #fdf6f0;
}

.nav_content li a {
  transition: all 0.3s ease 0s;
  background-color: #fdf6f0;
}

.nav_content li a:hover {
  color: rgb(194, 167, 145);
}

.contact_button {
  padding: 9px 25px;
  background-color: rgb(248, 217, 200, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.contact_button:hover {
  background-color: rgba(248, 217, 200, 0.8);
  color: rgb(194, 167, 145);
}

.cta {
  background-color: #fdf7e4;
}

/* INTRODUCTION SELF */
.Introduction {
  margin-top: 120px;
  text-align: center;
}

.Name {
  font-size: 100px;
  font-family: "Euphoria Script", cursive;
  color: rgb(83, 65, 60);
  text-shadow: 12px -5px 19px rgba(0, 0, 0, 0.104);
}

.description {
  font-family: "Poppins", sans-serif;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 15px;
  margin-bottom: 140px;
  color: rgb(83, 65, 60);
}

hr {
  margin: auto;
  border-top: 2px solid rgb(83, 65, 60);
  width: 75%;
}

/* Services Offered */
.services_content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.service_images {
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.service_box {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  position: relative;
  margin: 50px 50px 0 50px;
  height: 20rem;
  width: 20rem;
  border-radius: 10rem 10rem 0 0;
  background-color: #ffeee0;
  border: 3px solid rgb(170, 152, 146);
  -webkit-mask-image: linear-gradient(
    45deg,
    #000 25%,
    rgba(0, 0, 0, 0.2) 50%,
    #000 75%
  );
  mask-image: linear-gradient(
    45deg,
    #000 25%,
    rgba(0, 0, 0, 0.2) 50%,
    #000 75%
  );
  -webkit-mask-size: 800%;
  mask-size: 800%;
  -webkit-mask-position: 0;
  mask-position: 0;
}

.service_box:hover {
  transition: mask-position 2s ease, -webkit-mask-position 2s ease;
  -webkit-mask-position: 120%;
  mask-position: 120%;
  opacity: 1;
}

.service_text {
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.service_text_box {
  height: 10rem;
  width: 20rem;
  margin: 0px 50px 50px 50px;
  background-color: #f8d9c8a5;
}

.first_service {
  background-image: url(images/website_design.png);
  background-repeat: no-repeat;
  background-size: 120px;
  background-position: center;
}

.second_service {
  background-image: url(images/digital_art.png);
  background-repeat: no-repeat;
  background-size: 110px;
  background-position: center;
}

.third_service {
  background-image: url(images/edit.png);
  background-repeat: no-repeat;
  background-size: 120px;
  background-position: center;
}

.services_text {
  text-align: center;
  margin: 15px;
  background-color: transparent;
}

.services_top_text {
  font-family: "Pacifico", cursive;
  font-size: 30px;
  color: rgb(83, 65, 60);
  padding-bottom: 7px;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.316);
  background-image: linear-gradient(
    -225deg,
    #814a0c 0%,
    #a03711 29%,
    #c07a25 67%,
    #9a6c37 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.services_description_text {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  padding: 0 25px;
  background-color: transparent;
}

/* ABOUT ME */
.about_me_content {
  margin: 70px 0 70px;
  display: flex;
  justify-content: center;
}

.about_me_text {
  width: 600px;
  margin-right: 60px;
}

.about_me_text_main {
  font-family: "Abhaya Libre", serif;
  font-size: 90px;
  text-transform: uppercase;
  margin-bottom: -30px;
  color: rgb(83, 65, 60);
}

.about_me_text_name {
  font-family: "Abhaya Libre", serif;
  font-size: 40px;
  font-style: italic;
  margin-bottom: 30px;
  color: rgb(83, 65, 60);
}

.about_me_text_description {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-align: justify;
  color: rgb(83, 65, 60);
}

/* My Skills */
.main_header_skills {
  margin-top: 30px;
  font-family: "Pacifico", cursive;
  text-align: center;
  font-size: 60px;
  color: rgb(83, 65, 60);
  padding-bottom: 7px;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.316);
  background-image: linear-gradient(
    -225deg,
    #814a0c 0%,
    #a03711 29%,
    #c07a25 67%,
    #9a6c37 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.skills {
  display: flex;
  flex-direction: row;
}

.thumbnails {
  display: flex;
  flex-direction: column;
}

.sizing_thumbnail {
  width: 700px;
}

.overlay {
  position: absolute;
  display: flex;
  flex-direction: row;
  opacity: 0;
  width: 700px;
  height: 393.75px;
  background-color: black;
  background-image: url(images/play.png);
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
  transition: 0.5s ease-in;
}

.all_skills {
  justify-content: center;
  text-align: center;
}

.skills_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.skill_group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 30px 30px 30px;
}

.skill_text {
  margin-top: 7px;
  margin-left: 120px;
  background-color: transparent;
  text-align: left;
}

.header_skill_text {
  color: rgb(161, 112, 98);
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  text-transform: uppercase;
  background-color: transparent;
  justify-content: center;
}

.description_skill_text {
  color: rgba(83, 65, 60, 0.593);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  line-height: 15px;
  margin-right: 25px;
  background-color: transparent;
  font-style: italic;
}

.sizing_round_rectangle {
  height: 110px;
  width: 350px;
  border-radius: 50px;
  box-shadow: 15px 13px 34px -13px rgba(178, 127, 94, 0.22);
  -webkit-box-shadow: 15px 13px 34px -13px rgba(178, 127, 94, 0.22);
  -moz-box-shadow: 15px 13px 34px -13px rgba(178, 127, 94, 0.22);
}

.circles {
  position: absolute;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  justify-content: center;
  margin-left: 10px;
}

.round_rectangle_group_1 {
  background-color: #ffd3bd;
}

.circle_group_1 {
  background-color: #ffeee0;
}

.round_rectangle_group_2 {
  background-color: #ffcaba;
  height: 110px;
  width: 430px;
  border-radius: 50px;
}

.circle_group_2 {
  background-color: #ffeee0;
}

.round_rectangle_group_3 {
  background-color: #ffc4be;
  height: 110px;
  width: 440px;
  border-radius: 50px;
}

.circle_group_3 {
  background-color: #ffeee0;
}

.circle_1 {
  background-image: url(images/css_icon.png);
  background-position: center;
  background-size: 50px;
  background-repeat: no-repeat;
}

.circle_2 {
  background-image: url(images/html_icon.png);
  background-position: center;
  background-size: 50px;
  background-repeat: no-repeat;
}

.circle_3 {
  background-image: url(images/after_effects_icon.png);
  background-position: center;
  background-size: 50px;
  background-repeat: no-repeat;
}

.circle_4 {
  background-image: url(images/premiere_pro_icon.png);
  background-position: center;
  background-size: 50px;
  background-repeat: no-repeat;
}

.circle_5 {
  background-image: url(images/lumafusion_icon.png);
  background-position: center;
  background-size: 50px;
  background-repeat: no-repeat;
}

.circle_6 {
  background-image: url(images/photoshop_icon.png);
  background-position: center;
  background-size: 50px;
  background-repeat: no-repeat;
}

.circle_7 {
  background-image: url(images/illustrator_icon.png);
  background-position: center;
  background-size: 50px;
  background-repeat: no-repeat;
}

.circle_8 {
  background-image: url(images/sai_icon.png);
  background-position: center;
  background-size: 60px;
  background-repeat: no-repeat;
}

.circle_9 {
  background-image: url(images/procreate_icon.png);
  background-position: center;
  background-size: 55px;
  background-repeat: no-repeat;
}

.general_description {
  font-family: "Pacifico", cursive;
  color: rgb(161, 112, 98);
  letter-spacing: 2px;
  font-style: italic;
  text-align: center;
  margin-top: -15px;
}

.heart_divider {
  margin-top: 10px;
  width: 120px;
}

.contact_line_break {
  margin-top: 80px;
  margin-bottom: 100px;
  border-top: 2px solid rgb(83, 65, 60);
  width: 75%;
}

/* Contact Me */
.contact_container {
  justify-content: center;
  margin: auto;
  height: 710px;
  width: 900px;
  background-color: #ffeee0;
  border: 3px solid rgb(170, 152, 146);
}

.contact_content {
  background-color: transparent;
  margin: 50px;
}

.contact_header {
  background-color: transparent;
  text-align: center;
}

.contact_main_text {
  color: rgb(83, 65, 60);
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  background-color: transparent;
  letter-spacing: 15px;
  margin-bottom: 20px;
}

.break_contact {
  margin-top: 30px;
  margin-bottom: 30px;
  border-top: 3px solid rgb(148, 102, 89);
  width: 25%;
  border-radius: 5px;
}

.telephone_icon {
  margin-bottom: 50px;
  height: 45px;
  background-color: transparent;
}

.name_email_container {
  display: flex;
  background-color: transparent;
}

input {
  width: 100%;
  padding: 12px 5px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid rgb(170, 152, 146);
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: transparent;
}

.name_email_container {
  margin-bottom: 20px;
}

.name {
  margin-right: 10px;
  background-color: transparent;
}

.e-mail {
  margin-left: 10px;
  background-color: transparent;
}

.number_subject_line_chat {
  background-color: transparent;
}

.spacing_number_subject {
  background-color: transparent;
  margin-bottom: 20px;
}

textarea {
  background-color: transparent;
  width: 100%;
  height: 160px;
  padding: 12px 5px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid rgb(170, 152, 146);
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: transparent;
}

.send_message_button {
  margin-top: 20px;
  font-size: 15px;
  padding: 10px 25px;
  background-color: rgb(248, 217, 200, 1);
  border: none;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.5s ease;
}

.send_message_button:hover {
  margin-top: 20px;
  font-size: 15px;
  padding: 10px 25px;
  background-color: rgba(248, 217, 200, 0.8);
  color: rgb(194, 167, 145);
  border: none;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* SOCIAL MEDIA */
.social_media_container {
  display: flex;
  justify-content: center;
}

.icon_container {
  background-color: rgb(248, 217, 200, 1);
  height: 60px;
  width: 60px;
  margin: 40px;
  box-shadow: -14px 13px 61px -10px rgba(71, 49, 49, 0.21);
  -webkit-box-shadow: -14px 13px 61px -10px rgba(71, 49, 49, 0.21);
  -moz-box-shadow: -14px 13px 61px -10px rgba(71, 49, 49, 0.21);
  transition: 0.5s ease;
}

.icon_container:hover {
  background-color: rgb(242, 208, 190);
}

.facebook_container {
  background-image: url(images/facebook_icon.png);
  background-position: center;
  background-size: 15px;
  background-repeat: no-repeat;
}

.twitter_container {
  background-image: url(images/twitter_icon.png);
  background-position: center;
  background-size: 30px;
  background-repeat: no-repeat;
}

.instagram_container {
  background-image: url(images/instagram_icon.png);
  background-position: center;
  background-size: 30px;
  background-repeat: no-repeat;
}

.youtube_container {
  background-image: url(images/youtube_icon.png);
  background-position: center;
  background-size: 30px;
  background-repeat: no-repeat;
}
